{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyBooks</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLV1Jth7w0RYERXRuyFHeCFclAeGnjsetwxQ&s" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class=" header ">
        <div class="mainheader">
            <div class="logo">
            <img src="static/images/logo.png" alt="logo images">
        </div>
        <div class="navbar">
            <a href="/about">About us</a>
            <a href="/reviews">Reviews</a>
            <a href="/faqs">FAQs</a>
            <a href="/events">Events</a>
            <a href="/ebook">E-Books</a>
             <a href="/download" class="btn">Download</a>
            <i class='bx bx-x ' id="close"></i>
        </div>
        <i class='bx bx-menu ' id="menuBar"></i>
             </div>
             <div class="home">
                <div class="homecontent">
                    <h2>OnlyBooks <br>Templerunmonster <br> reading store  </h2>
                    <h4>the complete <br>stories </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, provident enim dolor voluptatem odit hic.</p>
                    <button class="btn"> <a href="/download">Download</a></button>
                </div>
             </div>
    </header>
    <div class="sell">
        <div class="mainselling">
            <div class="col1">
                <span>700</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, delectus.</p>
            </div>
            <div class="col2">
                <span>1700</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, delectus.</p>
            </div>
            <div class="col3">
                <span>600</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, delectus.</p>
            </div>
            <div class="col4">
                <span>500</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, delectus.</p>
            </div>
        </div>
    </div>
    <section class="critics">
        <div class="container">
            <h3><i class='bx bx-right-arrow-alt'></i>Reviews by Book critics</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui blanditiis doloribus earum odio dicta veritatis autem voluptatibus dolor, provident corrupti deleniti quasi incidunt porro quae aspernatur eum fuga iusto repudiandae?</p>
        <a href="https://www.santafenewmexican.com/"> Santa Fe Journal</a>
        </div>
    </section >
    
    <section class="crucial">
        <div class="container">
            <h3>Crucial Books takeaway</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae sunt nobis itaque non eius sed magnam ea quod commodi officia, esse perspiciatis odio veniam dolor eum blanditiis quia hic. Eaque.</p>
       <div class="topics">
        <div class="col5">
            <i class='bx bx-check'></i>
            <div class="paragraph">
                <h4>get a plan</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            </div>
            <div class="col5">
                <i class='bx bx-check'></i>
                <div class="paragraph">
                    <h4>Buildup and out</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                </div>
                <div class="col5">
                    <i class='bx bx-check'></i>
                    <div class="paragraph">
                        <h4>Empower Employee</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    </div>
        
       </div>
        </div>
    </section>
    <section class="books" id="books">
        <div class="maintopics">
            <h2>Free E-Books</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit molestiae in quibusdam rerum alias maxime temporibus non illum earum?</p>
        </div>
        <div class="bookcontent">
            <div class="col8">
                <div class="image">
                    <img src="static/images/book1.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book2.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book3.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book4.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book5.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book6.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book7.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book8.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book9.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book10.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book4.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="col8">
                <div class="image">
                    <img src="static/images/book3.jpg" alt="">
                </div>
                <p>Store Marketing</p>
            </div>
            <div class="button">
                <a href="/ebook">More Books</a>
            </div>
        </div>
    </section>
    <section class="question">
        <div class="maintopics">
            <h2>Who are these books for ?</h2>
            
        </div>
        <div class="mainques">
            <div class="col9">
                <i class='bx bxs-user'></i>
            <h4>Young entreprenuer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste illum illo cupiditate. Optio, totam quis debitis animi tempora culpa eos consectetur corrupti, ratione illo, corporis vel assumenda cum repellendus.</p>
        </div>
   
        <div class="col9">
            <i class='bx bxs-purchase-tag' ></i>
        <h4>Startup teams</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste illum illo cupiditate. Optio, totam quis debitis animi tempora culpa eos consectetur corrupti, ratione illo, corporis vel assumenda cum repellendus.</p>
    </div>

    <div class="col9">
        <i class='bx bx-building' ></i>
    <h4>Established Compmany</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste illum illo cupiditate. Optio, totam quis debitis animi tempora culpa eos consectetur corrupti, ratione illo, corporis vel assumenda cum repellendus.</p>
</div>

    <div class="col9">
        <i class='bx bxs-shopping-bag-alt' ></i>
    <h4>small companies</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste illum illo cupiditate. Optio, totam quis debitis animi tempora culpa eos consectetur corrupti, ratione illo, corporis vel assumenda cum repellendus.</p>
</div>
</div>
    </section>
    <section class="gallery">
        <div class="maingallery">
            <img src="static/images/img1.jpg" alt="">
            <img src="static/images/img2.jpg" alt="">
            <img src="static/images/img3.jpg" alt="">
            <img src="static/images/img4.jpg" alt="">
            <img src="static/images/img5.jpg" alt="">
            <img src="static/images/img6.jpg" alt="">
</div>
</section>
<section class="review" id="review">
    <div class="maintopics">
        <h3>Book Reviews</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum at enim corporis error est tenetur veritatis sed perspiciatis sunt, voluptatibus quo, quia, repudiandae eius. Ipsam omnis perferendis officiis optio sunt!</p>
    </div>
    <div class="mainreviews" id="flag">
        <div class="col10">
            <div class="button">
                <span class="according">What are advantages of purchasing a website ?</span>
                <i class='bx bx-plus'></i>
            </div>
            <div class="pannel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores fugiat at sit nulla voluptatum voluptatibus magni doloremque numquam blanditiis corporis, perferendis, molestiae, aspernatur itaque officia asperiores dicta maxime. Corporis.</p>
        </div>
        </div>
        <div class="col10">
            <div class="button">
                <span class="according">What are advantages of purchasing a website ?</span>
                <i class='bx bx-plus'></i>
            </div>
            <div class="pannel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores fugiat at sit nulla voluptatum voluptatibus magni doloremque numquam blanditiis corporis, perferendis, molestiae, aspernatur itaque officia asperiores dicta maxime. Corporis.</p>
             </div>
        </div>
        <div class="col10">
            <div class="button">
                <span class="according">What are advantages of purchasing a website ?</span>
                <i class='bx bx-plus'></i>
            </div>
            <div class="pannel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores fugiat at sit nulla voluptatum voluptatibus magni doloremque numquam blanditiis corporis, perferendis, molestiae, aspernatur itaque officia asperiores dicta maxime. Corporis.</p>
        </div>
        </div>
    </div>
    
</section>
<section class="touch">
    <div class="container">
        <h2>Get in touch with us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur veniam et voluptatum, officiis possimus repellendus molestias esse. Eveniet fugit esse cupiditate itaque quaerat molestiae aut?</p>
        <form action="" method='post' id='data'>
            {% csrf_token %}
            <input type="text" placeholder="ENTER YOUR FIRST NAME" name='first_name'requried>
            <input type="text" placeholder="ENTER YOUR LAST NAME " name='last_name' requried>
            <input type="email" name="email" id="email" placeholder="ENTER YOUR EMAIL" name='email' requried>
            <textarea name="area" id="area" cols="30" rows="10" placeholder="ENTER YOUR TEXT" id='msg' name='msg' requried></textarea>
            <button>Lets go</button>
        </form>
    </div>
    
</section>
<section class="footer">
    <div class="container">
        <img src="static/images/logo.png" alt="">
        <div class="col11">
            <span>Follow my buisness</span>
            <div class="input">
                <input type="email" placeholder="ENTER YOUR EMAIL" name="email" id="email">
            <button>SUBSCRIBE</button>
            </div>
        </div>
    </div>
    <div class="col12">
        <span>&copy; 2024 freebook. All rights Reseved by onlybooks</span>
        <div class="social">
            <i class='bx bxl-facebook-square' ></i>
            <i class='bx bxl-twitter' ></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-youtube' ></i>
        </div>
    </div>
</section>

    <script>
        let navBar=document.querySelector('.navbar');
        let menuBar=document.querySelector('#menuBar');
        let close=document.querySelector('#close');
        menuBar.onclick =( ) =>{
            menuBar.classList.toggle('bx-x');
            navBar.classList.toggle('active');
        }
        close.onclick =( ) =>{
            menuBar.classList.remove('bx-x');
            navBar.classList.remove('active');
        }

    </script>
</body>
</html>